#!/bin/sh -e
# runit script for the Kinesis stream-tributary service

. /etc/monetate/aws.sh

exec 2>&1
exec /opt/jdk1.7.0_79/bin/java \
     -Xloggc:/var/log/monetate/stream-tributary-gc.log \
     -XX:+PrintGCDetails \
     -XX:+PrintGC \
     -Dlog4j.configurationFile=/mnt/deployment/real-time/log4j2.xml \
     -cp /mnt/deployment/real-time/stream-tributary-0.1.0-SNAPSHOT-jar-with-dependencies.jar \
     com.monetate.stream.tributary.KinesisFactProducerTcpServer \
     {{ KPL_STREAM_NAME }} \
     /mnt/deployment/real-time/kpl.properties
